@model IEnumerable<Health_Care_Assist_Provider.Models.Sponsor>

@{
    ViewData["Title"] = "Index";
}

<h2 class="alert-danger">@TempData["ErrorMessage"]</h2>

<h1>Sponsors</h1>

@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.LabelForModel("Full name")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentDonation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalDonation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalAssists)
            </th>
            @{var headerMetadata = Model.ToList()[0].Assists.FirstOrDefault();}
            @*DiagnosisId SponsorId AppointmentId*@
            <th>
                @Html.DisplayNameFor(model => headerMetadata.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => headerMetadata.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => headerMetadata.Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => headerMetadata.Active)
            </th>
            @*<th></th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var sponsor in Model)
        {
            @if (sponsor.Assists.Count != 0)
            {
                @foreach (var assist in sponsor.Assists)
                {
                    <tr>
                        <td>
                            <a asp-controller="Sponsors" asp-action="Details" asp-route-id="@sponsor.SponsorId">
                                @Html.DisplayFor(modelItem => sponsor.Person.FirstName)
                                @Html.DisplayFor(modelItem => sponsor.Person.LastName)
                            </a>
                        </td>
                        @if (sponsor.Person.UserType == 3)
                        {
                            <td>
                                <a asp-controller="Sponsors" asp-action="Edit" asp-route-id="@sponsor.SponsorId">
                                    @Html.DisplayFor(modelItem => sponsor.CurrentDonation)
                                </a>
                            </td>
                        }
                        else
                        {
                            <td>
                                @Html.DisplayFor(modelItem => sponsor.CurrentDonation)
                            </td>
                        }
                        <td>
                            @Html.DisplayFor(modelItem => sponsor.TotalDonation)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => sponsor.TotalAssists)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => assist.DateCreated)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => assist.Rating)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => assist.Comment)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => assist.Active)
                        </td>
                        @*<td>
                            <a asp-action="Edit" asp-route-id="@sponsor.SponsorId">Edit</a> |
                            <a asp-action="Details" asp-route-id="@sponsor.SponsorId">Details</a> |
                                <a asp-action="Delete" asp-route-id="@sponsor.SponsorId">Delete</a>
                        </td>*@
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td>
                        <a asp-controller="Sponsors" asp-action="Details" asp-route-id="@sponsor.SponsorId">
                            @Html.DisplayFor(modelItem => sponsor.Person.FirstName)
                            @Html.DisplayFor(modelItem => sponsor.Person.LastName)
                        </a>
                    </td>
                    @if (sponsor.Person.UserType == 3)
                    {
                        <td>
                            <a asp-controller="Sponsors" asp-action="Edit" asp-route-id="@sponsor.SponsorId">
                                @Html.DisplayFor(modelItem => sponsor.CurrentDonation)
                            </a>
                        </td>
                    }
                    else
                    {
                        <td>
                            @Html.DisplayFor(modelItem => sponsor.CurrentDonation)
                        </td>
                    }
                    <td>
                        @Html.DisplayFor(modelItem => sponsor.TotalDonation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => sponsor.TotalAssists)
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    @*<td>
                        <a asp-action="Edit" asp-route-id="@sponsor.SponsorId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@sponsor.SponsorId">Details</a> |
                            <a asp-action="Delete" asp-route-id="@sponsor.SponsorId">Delete</a>
                    </td>*@
                </tr>
            }
        }
    </tbody>
</table>
