@model IEnumerable<Health_Care_Assist_Provider.Models.Doctor>

@{
    ViewData["Title"] = "Index";
}

@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    var CurrentUser = await UserManager.GetUserAsync(User);
}

<h2 class="alert-danger">@TempData["ErrorMessage"]</h2>

<h1>Doctors & Appointments</h1>

@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.LabelForModel("Full name")
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Person.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Person.LastName)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Specialty)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.LicenseNumber)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            @{var headerMetadata = Model.ToList()[0].Appointments.FirstOrDefault();}
            <th>
                @Html.DisplayNameFor(model => headerMetadata.DateAndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => headerMetadata.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => headerMetadata.Available)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var doctor in Model)
        {
            @if (doctor.Appointments.Count != 0)
            {
                @foreach (var appointment in doctor.Appointments)
                {
                    <tr>
                        <td>
                            @if (CurrentUser.UserType == 2)
                            {
                                <a asp-controller="Doctors" asp-action="Details" asp-route-id="@doctor.DoctorId">
                                    @Html.DisplayFor(modelItem => doctor.Person.FirstName)
                                    @Html.DisplayFor(modelItem => doctor.Person.LastName)
                                </a>
                            }
                            else
                            {
                                <span>
                                    @Html.DisplayFor(modelItem => doctor.Person.FirstName) @Html.DisplayFor(modelItem => doctor.Person.LastName)
                                </span>
                            }
                        </td>
                        @*<td>
                                @Html.DisplayFor(modelItem => doctor.Person.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => doctor.Person.LastName)
                            </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => doctor.Specialty)
                        </td>
                        @*<td>
                                @Html.DisplayFor(modelItem => doctor.LicenseNumber)
                            </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => doctor.Rating)
                        </td>
                        <td>
                            @if (appointment.DateAndTime > DateTime.Now)
                            {
                                <a asp-controller="Appointments" asp-action="Details" asp-route-id="@appointment.AppointmentId">
                                    @Html.DisplayFor(modelItem => appointment.DateAndTime)
                                </a>
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => appointment.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => appointment.Available)
                        </td>
                        @if (UserManager.GetUserId(User) == doctor.Person.Id)
                        {
                            <td><a asp-controller="Appointments" asp-action="Create" asp-route-id="@doctor.DoctorId">Add Appointment</a></td>
                        }
                        else
                        {
                            <td></td>
                        }
                        @*<td>
                                <a asp-action="Edit" asp-route-id="@doctor.DoctorId">Edit</a> |
                                <a asp-action="Details" asp-route-id="@doctor.DoctorId">Details</a> |
                            <a asp-action="Delete" asp-route-id="@doctor.DoctorId">Delete</a>
                            </td>*@
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td>
                        @if (CurrentUser.UserType == 2)
                        {
                            <a asp-controller="Doctors" asp-action="Details" asp-route-id="@doctor.DoctorId">
                                @Html.DisplayFor(modelItem => doctor.Person.FirstName)
                                @Html.DisplayFor(modelItem => doctor.Person.LastName)
                            </a>
                        }
                        else
                        {
                            <span>
                                @Html.DisplayFor(modelItem => doctor.Person.FirstName) @Html.DisplayFor(modelItem => doctor.Person.LastName)
                            </span>
                        }
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => doctor.Person.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => doctor.Person.LastName)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => doctor.Specialty)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => doctor.LicenseNumber)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => doctor.Rating)
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    @if (UserManager.GetUserId(User) == doctor.Person.Id)
                    {
                        <td>
                            <a asp-controller="Appointments" asp-action="Create" asp-route-id="@doctor.DoctorId">Add Appointment</a>
                        </td>
                    }
                    else
                    {
                        <td></td>
                    }
                    @*<td>
                            <a asp-action="Edit" asp-route-id="@doctor.DoctorId">Edit</a> |
                            <a asp-action="Details" asp-route-id="@doctor.DoctorId">Details</a> |
                            <a asp-action="Delete" asp-route-id="@doctor.DoctorId">Delete</a>
                        </td>*@
                </tr>
            }
        }
    </tbody>
</table>
